@media only screen and (max-width:999px) {
    .container{
        background-color: var(--Primary);
        position: absolute;
        top: 0;left: 0;
        height: 100vh;width: 100vw;
        overflow: hidden;
        color: white;
        font-family: var(--Font-Ubuntu);
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        h1{
            font-size: 16px;
            text-align: center;
            border-radius: 10px;
            background-color: var(--Turtiary);
            padding: 5px;
            max-width: 20rem;
        }
    
        input{
            border: 0px;
            color: white;
            padding: 5px;
            background-color: transparent;
            border-bottom: 1px solid lime;
            font-size: 12px;
            width: 90%;
            max-width: 30rem;
    
            &:hover{
    
            }
            &:active, &:focus{
                outline: none;
            }
        }
    
    
        textarea{
            border: 0px;
            color: white;
            padding: 5px;
            background-color: transparent;
            border: 1px solid lime;
            border-radius: 5px;
            font-size: 12px;
            width: 90%;
            max-width: 30rem;
    
            &:hover{
    
            }
            &:active, &:focus{
                outline: none;
            }
        }
    }
        
}
@media only screen and (min-width:999px) {
    .container{
        background-color: var(--Primary);
        position: absolute;
        top: 0;left: 0;
        height: 100vh;width: 100vw;
        overflow: hidden;
        color: white;
        font-family: var(--Font-Ubuntu);
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        h1{
            font-size: 16px;
            text-align: center;
            border-radius: 10px;
            background-color: var(--Turtiary);
            padding: 5px;
            max-width: 20rem;
        }
    
        input{
            border: 0px;
            color: white;
            padding: 5px;
            background-color: transparent;
            border-bottom: 1px solid lime;
            font-size: 16px;
            width: 90%;
            max-width: 30rem;
    
            &:hover{
    
            }
            &:active, &:focus{
                outline: none;
            }
        }
    
    
        textarea{
            border: 0px;
            color: white;
            padding: 5px;
            background-color: transparent;
            border: 1px solid lime;
            border-radius: 5px;
            font-size: 16px;
            width: 90%;
            max-width: 30rem;
    
            &:hover{
    
            }
            &:active, &:focus{
                outline: none;
            }
        }
    }
        
}